* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary-color: #050a30;
    --secondary-color: #1b2cc1;
    --text-color-one: #fcbf49;
}
body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}
/* -------------------------------------- */
header {
    margin: 4rem 4rem 0 4rem;
    text-align: center;

    border-bottom: 4px solid var(--secondary-color);
}
h1 {
    font-size: 3rem;
    background-color: var(--primary-color);
    color: var(--text-color-one);

    border-radius: 25px;
    box-shadow: 0 0 15px var(--secondary-color);

    padding: 1rem;
}
header p {
    font-size: 1.2rem;
    margin-top: 10px;
}
/* -------------------------------------- */
main {
    text-align: center;
}
.purpose {
  border-bottom: 4px solid var(--secondary-color);
  margin: 4rem 4rem 0 4rem;
}
h2 {
    font-size: 2rem;
    padding: 1rem;
}
h3 {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-color-one);

    border-radius: 25px;
    box-shadow: 0 0 15px var(--secondary-color);

    padding: 1rem;
}
.purpose h2 {
    margin-bottom: 4rem;
}

.purpose p {
    font-size: 1.2rem;
    padding: 0 5rem 0 5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
/* -------------------------------------- */
.scenarios {
    padding-bottom: 4rem;
    border-bottom: 4px solid var(--secondary-color);
    margin: 4rem 4rem 0 4rem;
}
.scenarios p {
    font-size: 1.2rem;
    padding: 0 5rem 0 5rem;
    margin-top: 1rem;
}
/* -------------------------------------- */
.color-schema {
    padding-bottom: 4rem;
    border-bottom: 4px solid var(--secondary-color);
    margin: 4rem 4rem 0 4rem;
}
.color-schema p {   
    font-size: 1.2rem;
    padding: 0 5rem 0 5rem;
    margin-top: 1rem;
}
.dark-blue {
    background-color: var(--primary-color);
}
.blue {
    background-color: var(--secondary-color);
}
.gold {
    background-color: var(--text-color-one);
    color: black;
}
/* -------------------------------------- */
.typography {
    padding-bottom: 4rem;
    border-bottom: 4px solid var(--secondary-color);
    margin: 4rem 4rem 0 4rem;
}
/* -------------------------------------- */
.wireframes {
    padding-bottom: 4rem;
    border-bottom: 4px solid var(--secondary-color);
    margin: 4rem 4rem 0 4rem;
}
.wireframes p {
    font-size: 1.2rem;
    padding: 0 5rem 0 5rem;
    margin-top: 1rem;
}
/* -------------------------------------- */
footer {
    height: 120px;
    margin-top: 2rem;

    text-align: center;
    font-size: 1.2rem;
}
/* -------------------------------------- */