@media screen and (min-width: 700px) {
    .temple-images {
        grid-template-columns: repeat(3, 1fr);
    }
/* -------------------------------------- */
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
/* -------------------------------------- */
    #menu {
    display: none;
    }
}